<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ivipworld.blackbox" versionCode="10" version="1.0.0">

    <name>BlackBox</name>

    <icon src="images/icon.png" />
    <gap:splash src="images/splash.png" />
    <gap:splash src="images/splash.png" gap:platform="ios" width="640" height="1136" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <preference name="stay-in-webview" value="true" />
    <preference name="BackgroundColor" value="0x000000"/>

    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="fullscreen" value="true" />

    <access origin="*" subdomains="true" /> 
    <!--access origin="ivipworld.com" subdomains="true" /> 
    <access origin="kishandchips.com" subdomains="true" /> 
    <access origin="fonts.com" subdomains="true" /> 
    <access origin="google-analytics.com" subdomains="true" /> 
    <access origin="googleapis.com" subdomains="true" /--> 


    <preference name="android-minSdkVersion" value="14" />
    <!--preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" /-->

</widget>
