<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ivipworld.blackbox" versionCode="10" version="1.0.0">

    <name>BlackBox</name>

    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <preference name="stay-in-webview" value="false" />
    <preference name="backgroundColor" value="0x00000000"/>

    <preference name="fullscreen" value="true" />
	<preference name="splash-screen-duration" value="100"/>
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="fullscreen" value="true" />
	<access origin="*" subdomains="true" />  

</widget>
